/*//////////////////////////////*/
/*/            GLOBAL          /*/
/*//////////////////////////////*/
.noselect {
  -webkit-tap-highlight-color: transparent; /* Prevents android Highlight */
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

/* Prevents android highlight */
.noSelect:focus {
  outline: none !important;
}

/* Colors */
:root {
  --color-white: #eff0fa; /* Used in Texts */
  --color-accent: #2a2f55; /* Used as Accent color */
  --color-accenthover: #ffffff54; /* Used as Accent color hover */
  --color-accentcontent: #474a6499; /* Used as Accent color content */
  --color-dark: #141529; /* Used as Background color for content right div */
  --color-darkest: #10111e; /* Used as darkest color, sidebar and inputs */
  --color-stdarkest: #10111e7a; /* Darkest semitransparent for modal and other uses */
  --color-light: #202338; /* Used in some Buttons and Subareas */
  --color-lighthover: #1f2236; /* Used in some Buttons and Subareas hover*/
  --color-green: #608a24; /* Done / Success */
  --color-red: #914c63; /* Accent and Error Messages */
  --color-redhover: #7a3f53; /* Accent for buttons or hoverable items */
  --color-orange: #d37466; /* Secondary Color used for specific accents */
  --color-darkorange: #be6a5d; /* Secondary Color used for specific accents */
}

/* Body height and color adjustments */
body {
  height: 100%;
  background-color: var(--color-dark);
}

/* Apply the same font for the site */
* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* Used to animate specific resizable zones for mediaquerys */
.mqr {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.loginmqr {
  -webkit-transition: width 0.5s ease-in-out;
  -moz-transition: width 0.5s ease-in-out;
  -o-transition: width 0.5s ease-in-out;
  transition: width 0.5s ease-in-out;
}

/* Used to NOT-animate specific resizable zones for mediaquerys */
.no-mqr {
  -webkit-transition: all 0s ease !important;
  -moz-transition: all 0s ease !important;
  -o-transition: all 0s ease !important;
  transition: all 0s ease !important;
}

a,
a:visited,
a:hover,
a:active {
  color: inherit;
}

/* TOOLTIP */
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  opacity: 0;
  transition: opacity 1s;
  visibility: hidden;
  width: 100px;
  background-color: var(--color-darkest);
  color: #fff;
  text-align: center;
  border-radius: 7px;
  padding: 2px 0;
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 120%;
}

.tooltip:hover .tooltiptext {
  opacity: 1;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent var(--color-darkest) transparent transparent;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
}

/*//////////////////////////////*/
/*/           FOOTER           /*/
/*//////////////////////////////*/

/*/       CUSTOM SCROLL        /*/

/* Custom scrollbar sizing */
::-webkit-scrollbar {
  width: 15px;
  height: 15px;
}

/* Custom scrollbar background */
::-webkit-scrollbar-track {
  background-color: var(--color-darkest);
}

/* Custom scrollbar dragable thing*/
::-webkit-scrollbar-thumb {
  border-radius: 7px;
  background-color: var(--color-accent);
  box-shadow: rgba(97, 97, 97, 0.12) 0 3px 13px 5px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.12) 0 3px 13px 5px;
}

/* Custom scrollbar right corner for textareas */
::-webkit-scrollbar-corner {
  background-color: transparent;
}

/*//////////////////////////////*/
/*/           SIDEBAR          /*/
/*//////////////////////////////*/

/* Displays a burger menu when screen is small */
.navbartop {
  display: none;
  visibility: hidden;
}

/* Actual sidebar */
.sidebar {
  /* Sizing and positioning */
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  /* Extra */
  background-color: var(--color-darkest);
  overflow: hidden;
  font-weight: 600;
  color: var(--color-white);
  /* Beta */
  overflow-y: overlay;
}

/* Sidebar trixion logo area */
.sidebar .logo {
  /* Sizing and positioning */
  padding-top: 30px;
  padding-bottom: 50px;

  /* Extra */
  text-align: center;
  font-size: 24px;
}

/* Sidebar Trixion Logo image transform*/
.sidebar .logo img {
  /* Sizing, positioning and transform */
  width: 60px;
  rotate: right;
  transform: scale(1) rotate(33deg) skew(-50deg, -5deg);
  filter: invert(99%) sepia(36%) saturate(4689%) hue-rotate(178deg)
    brightness(102%) contrast(91%);
  position: absolute;
  left: 70px; /*  left: 34.5%; */
  top: 40px;
  /* Extra */
  pointer-events: none;
}

/* Sidebar Links */
.sidebar a {
  /* Sizing and positioning */
  display: block;
  width: 70%;

  padding-left: 10px;
  padding-right: 10px;
  padding-top: 16px;
  padding-bottom: 16px;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 7%;
  margin-top: 7%;

  /* Extra */
  text-decoration: none;
  text-align: center;
  border-radius: 12px;
  cursor: pointer;
}

/* Sidebar Fontawesome i */
.sidebar a img {
  display: block;
  height: auto;
  width: 16px;
  margin-left: auto;
  margin-right: auto;
  filter: invert(98%) sepia(1%) saturate(6675%) hue-rotate(186deg)
    brightness(97%) contrast(102%);
  /* padding-right: 15px; */
  /* display: flex;  Remove display block and enable this for inline design */
}

/* Sidebar link hover */
.sidebar a:hover {
  background-color: var(--color-accent);
  -webkit-transition: background 0.3s; /* For Safari 3.0 to 6.0 */
  transition: background 0.3s; /* For modern browsers */
}

/* Sidebar User and Guildname */
.sidebar a:last-child {
  display: block;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 70%;
  padding: 10px;
  margin-left: 10%;
  font-weight: 400;
}

.sidebar a:last-child:hover {
  background-color: transparent;
  cursor: default;
}

.selectedSidebar {
  background-color: var(--color-accent);
  cursor: default !important;
}

/* logout button */
#logoutbtn {
  padding: 5px !important;
  margin-top: 25px;
  margin-bottom: 0px;
  background-color: var(--color-red);
  width: 50%;
  transition: all 0.3s;
}

#logoutbtn:hover {
  transition: all 0.3s;
  background-color: var(--color-red);
  filter: grayscale(10%);
  box-shadow: 0px 4px var(--color-red), 0px -4px var(--color-red);
}

/*/      CONTENT DIVIDER       /*/

/* All content on the right side */
.content {
  display: block;
  position: absolute;
  width: calc(100% - 200px);

  top: 0;
  left: 200px;
  animation: fadeInAnimation ease 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* All content Div2 on right side */
.main {
  color: var(--color-white);
}

/*//////////////////////////////*/
/*/            HOME            /*/
/*//////////////////////////////*/

/* Zone Container */
.home {
  border-radius: 24px;
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 2vh;
}

/* Zone Header */
.home-header {
  /* Sizing */
  display: block;
  width: 100%;
  text-align: center;
  /* Extra */
  font-weight: 600;
  font-size: 5em;
}

/* Container for features (grid) */
.container {
  margin-left: 15%;
  margin-right: 15%;
  padding-bottom: 50px;
  margin-top: 40px;
  display: grid;
  grid-template-columns: 3fr 3fr;
  /* grid-template-rows: 0.4fr 0.4fr; */
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  /* grid-template-areas:
    "featurefull1 featurefull1"
    "featureleft1 featureright1"; */
  grid-template-areas: "featurefull1 featurefull1";
}

/* Applies to all grids for features */
.feature {
  /* Sizing */
  border-radius: 7px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  /* Extra */
  background-color: var(--color-light);
  box-shadow: 0px -3px var(--color-accent), 0px 3px var(--color-accent);
}

.feature:hover {
  filter: grayscale(5%);
}

/* Top feature full width */
.featurefull1 {
  text-align: center;
  grid-area: featurefull1;
  margin-bottom: 40px;
  margin-left: auto; /* new */
  margin-right: auto; /* new */
  width: auto; /* new */
}

/* Feature bottom left 50% screen */
.featureleft1 {
  margin-right: 20px;
  grid-area: featureleft1;
}

/* Feature bottom right 50% screen */
.featureright1 {
  margin-left: 20px;
  grid-area: featureright1;
}

.feature h1 {
  color: rgba(255, 255, 255, 0.911);
  font-size: 2em;
  margin-top: 0px;
  margin-bottom: 10px;
  text-shadow: 2px -2px var(--color-dark);
}

.featuredetails {
  font-weight: 400;
  font-size: 1.2em;
}

#dailycheckhome {
  margin: auto;
  margin-top: 20px;
  width: 100%;
  height: auto;
  border-radius: 14px;
  box-shadow: 6px -5px var(--color-accent);
}

#guildPlannerhome {
  margin: auto;
  margin-top: 20px;
  width: 70ch;
  max-width: 100%;
  height: auto;
  border-radius: 14px;
  box-shadow: 6px -5px var(--color-accent);
}

.activitylogo {
  width: 1.5em;
  height: auto;
  -webkit-filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, 0.7));
  filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, 0.7));
}

/* todo */
/* CHANGE THIS FOR AN IMAGE, IT'S NOT NEEDED */
.featuredetails ul {
  padding-top: 25px;
  list-style: none;
}

.featuredetails li {
  padding-bottom: 12px;
  display: block;
}

.featuredetails li img {
  vertical-align: middle;
  padding-right: 20px;
}

.featuredetails li:last-child {
  padding-bottom: 0px;
  margin-bottom: 0px;
}

/*//////////////////////////////*/
/*/           SUPPORT          /*/
/*//////////////////////////////*/

.support {
  text-align: center;
  margin-top: calc(20px + 70px);
  padding-top: 25px;
  padding-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-radius: 7px;
  background-color: var(--color-light);
  box-shadow: 0px -3px var(--color-accent), 0px 3px var(--color-accent);
  font-weight: 500;
}

.supportcontent {
  margin-top: 20px;
}

/*Form*/
.supportform form {
  max-width: 95%;
  margin: auto auto;
}

.supportformInput {
  border: 2px solid transparent;
  color: var(--color-white);
  font-weight: 500;
  font-size: 18px;
  border-radius: 7px;
  line-height: 22px;
  background-color: var(--color-darkest);
  transition: all 0.3s;
  width: 70%;
  max-width: 70%;
  min-width: 70%;
  padding: 12px;
  margin-bottom: 15px;
  box-sizing: border-box;
  outline: 0;
}

.supportformInput:first-child {
  margin-top: 15px;
}

.supportformInput:focus {
  box-shadow: 0px -3px var(--color-accent), 0px 3px var(--color-accent);
}

#supporttextarea {
  height: 200px;
  line-height: 150%;
  resize: vertical;
  max-height: fit-content;
  overflow-y: scroll;
}

#supportTextarea::-webkit-scrollbar {
  border-radius: 14px;
}

#supportTextarea::-webkit-scrollbar-thumb {
  border-radius: 14px;
  background-color: var(--color-white);
  cursor: pointer;
}

#supportTextarea::-webkit-scrollbar-track {
  border-radius: 7px;
}

.supportform input:-webkit-autofill,
.supportform input:-webkit-autofill:hover,
.supportform input:-webkit-autofill:focus,
.supportform input:-webkit-autofill:active {
  -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
  -webkit-transition-delay: 9999s;
}

.supportbtn {
  border: 0;
  cursor: pointer;
  margin: auto;
  width: 70%;
  padding: 10px;
  text-decoration: none;
  display: block;
  text-align: center;
  margin-bottom: 2%;
  margin-top: 3%;
  border-radius: 12px;
  color: var(--color-white);

  font-weight: 600;
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: var(--color-accent);
}

.supportbtn:hover {
  filter: grayscale(10%);
}

/*//////////////////////////////*/
/*/           ACCOUNT          /*/
/*//////////////////////////////*/

/*  AUTH PANEL */

.accountAuth {
  display: block;
  margin-top: calc(20px + 70px);
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 15px;
  padding-right: 15px;
}

.accountAuth input {
  text-align: center;
  margin-right: auto;
  border: 2px solid transparent;
  color: var(--color-white);

  font-weight: 500;
  font-size: 18px;
  border-radius: 7px;
  line-height: 22px;
  background-color: var(--color-darkest);
  transition: all 0.3s;
  width: 90%;
  padding: 12px;
  margin-bottom: 5px;
  margin-top: 5px;
  box-sizing: border-box;
  outline: 0;
  transition: all 0.3s;
}

.accountAuth input::-webkit-input-placeholder {
  text-align: center;
}

.accountAuth input:focus {
  box-shadow: 0px -3px var(--color-accent), 0px 3px var(--color-accent);
}

.accountAuth button {
  margin-top: 10px;
  border: 0;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  width: 40%;
  padding-left: 10%;
  padding-right: 10%;
  display: block;
  text-decoration: none;
  text-align: center;
  border-radius: 12px;
  color: var(--color-white);
  font-weight: 600;
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: var(--color-accent) !important;
}

.accountSignup {
  display: none;
  box-shadow: 0px -3px var(--color-accent), 0px 3px var(--color-accent);
  border-radius: 7px;
  text-align: center;
  background-color: var(--color-light) !important;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10px;
  padding-top: 10px;
}

.accountLogin {
  display: block;
  box-shadow: 0px -3px var(--color-accent), 0px 3px var(--color-accent);
  border-radius: 7px;
  text-align: center;
  background-color: var(--color-light) !important;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10px;
  padding-top: 10px;
}

#newAccountLogin {
  color: var(--color-white);
  font-weight: 600;
}

#newAccountLogin span {
  font-weight: bold;
  text-decoration: underline;
  text-decoration-color: var(--color-white);
  text-decoration-thickness: 3px;
  text-underline-offset: 0.2em;
  transition: text-decoration-color 300ms, text-underline-offset 300ms;
}

#newAccountLogin span:hover {
  cursor: pointer;
  text-decoration-color: var(--color-green);
  text-underline-offset: 4px;
}

/*ACCOUNT PANEL */
.account {
  font-weight: 500;
  color: var(--color-white);
  line-height: 3em;

  width: 50%;

  margin-top: 70px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;

  /* GRID */

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1.2fr;
  gap: 40px 20px;
  grid-template-areas:
    "account-details account-guild"
    "account-characters account-characters";
}

.account-content {
  text-align: center;
  background-color: var(--color-light);
  box-shadow: 0px -3px var(--color-accent), 0px 3px var(--color-accent);
  border-radius: 7px;
  width: 100%;
}

.account-details {
  grid-area: account-details;
}

.inputDisabled {
  pointer-events: none;
}

.account-guild {
  grid-area: account-guild;
}

.account-characters {
  grid-area: account-characters;
}

.account-characters ul {
  padding-top: 10px;
  padding-bottom: 10px;
  list-style: none;
  padding-left: 0px;
}

.account h1 {
  text-align: center;
  margin-bottom: 20px;
}

.account input {
  text-align: center;
  margin-right: auto;
  border: 2px solid transparent;
  color: var(--color-white);

  font-weight: 500;
  font-size: 18px;
  border-radius: 7px;
  line-height: 22px;
  background-color: var(--color-darkest);
  transition: all 0.3s;
  width: 90%;
  padding: 12px;
  margin-bottom: 5px;
  margin-top: 5px;
  box-sizing: border-box;
  outline: 0;
  transition: all 0.3s;
}

.account input::-webkit-input-placeholder {
  text-align: center;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.account input:focus {
  box-shadow: 0px -3px var(--color-accent), 0px 3px var(--color-accent);
}

.account-characters li {
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  background-color: var(--color-accent);
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  padding: 5px;
  cursor: pointer;
  margin-bottom: 20px;
}

.account-characters li:first-child {
  border-radius: 7px !important;
}

.account-characters li:hover {
  filter: grayscale(10%);
  box-shadow: 0px -3px var(--color-accent), 0px 3px var(--color-accent);
  transition: all 0.3s;
}

.characterDetails {
  border-radius: 7px;
  margin-bottom: 20px;
  background-color: var(--color-darkest);
  margin-top: 5px;
  border-radius: 7px;
  box-shadow: 5px 5px var(--color-dark), -5px 5px var(--color-dark);
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  display: none;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 0.5fr;
  gap: 0px 0px;
  grid-template-areas:
    "charnameEdit classEdit ilvlEdit"
    ". submit .";
  overflow: hidden;
  transition: all 0.3s;
}

#addAccountCharacter {
  border-top-right-radius: 7px !important;
  border-bottom-right-radius: 7px !important;
  background-color: var(--color-orange);
}

#addAccountCharacter:hover {
  background-color: var(--color-orange) !important;
  box-shadow: 0px -3px var(--color-orange), 0px 3px var(--color-orange);
}

#addCharacterSpan {
  color: white;
}

.characterEditing {
  display: grid !important;
  transition: all 0.3s;
}

.characterError {
  padding: 0px;
  margin: 0px;
}

.charSelected {
  filter: hue-rotate(2deg) brightness(130%) contrast(94%);
}

.charSelected:hover {
  filter: hue-rotate(2deg) brightness(130%) contrast(94%) !important;
}

.CharacterDetailOpen {
  width: 70% !important;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.deleteCharacter {
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: 100%;
  display: inline;
  cursor: pointer;

  padding-left: 18px;
  padding-right: 18px;
  padding-top: 18.3px;
  padding-bottom: 18.2px;
  background-color: var(--color-red);
  background-image: url("../public/img/faicons/trash-can-solid.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 18px;
}

.deleteCharacter img {
  width: auto;
  height: 16px;
  margin: 0px;
  padding: 0px;
  filter: invert(100%) sepia(0%) saturate(7497%) hue-rotate(160deg)
    brightness(102%) contrast(102%);
}

.account-characters li:hover ~ .deleteCharacter {
  filter: grayscale(10%);
  box-shadow: 0px -3px var(--color-red), 0px 3px var(--color-red);
  transition: all 0.3s;
}

.deleteCharacter:hover ~ .account-characters li {
  filter: grayscale(10%);
  box-shadow: 0px -3px var(--color-accent), 0px 3px var(--color-accent);
  transition: all 0.3s;
}

.accountbtn {
  border: 0;
  cursor: pointer;
  margin: auto;
  width: 100%;
  padding: 10px;
  display: block;
  text-decoration: none;
  text-align: center;
  border-radius: 12px;
  color: var(--color-white);
  font-weight: 600;
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: var(--color-accent) !important;
  grid-area: submit;
}

.accountbtn:hover {
  filter: grayscale(10%);
}

.classSelect {
  border: 2px solid transparent;
  margin-left: auto;
  margin-right: auto;
  color: var(--color-white);
  font-weight: 500;
  font-size: 18px;
  border-radius: 7px;
  line-height: 22px;
  background-color: var(--color-darkest);
  transition: all 0.3s;
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  box-sizing: border-box;
  outline: 0;
  text-align: center;
}

.charnameEdit {
  grid-area: charnameEdit;
}
.ilvlEdit {
  grid-area: ilvlEdit;
}
.classEdit {
  grid-area: classEdit;
}

/*//////////////////////////////*/
/*/        GUILD MANAGER       /*/
/*//////////////////////////////*/

.guildManager {
  font-weight: 500;
  color: var(--color-white);
  line-height: 3em;

  width: 50%;

  margin-top: 70px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

.guildManager h1 {
  color: var(--color-white);
}

.guildManagerTopWrapper {
  text-align: center;
}

.guildManagerSearch {
  box-shadow: -5px 0px var(--color-accent), 5px 0px var(--color-accent);
  text-align: center;
  border: 2px solid transparent;
  color: var(--color-white);

  font-weight: 500;
  font-size: 18px;
  border-radius: 7px;
  line-height: 22px;
  background-color: var(--color-darkest);
  transition: all 1s;
  width: 70%;
  padding: 12px;
  margin-bottom: 15px;
  box-sizing: border-box;
  outline: 0;
}

.guildManagerSearch:first-child {
  margin-top: 15px;
}

.guildManagerSearch:focus {
  box-shadow: 0px -5px var(--color-accent), 0px 5px var(--color-accent);
}

.guildManagerContent {
  text-align: center;
  background-color: var(--color-light);
  box-shadow: 0px -3px var(--color-darkest), 0px 3px var(--color-accent);
  border-radius: 7px;
  width: 100%;
}

.guildManagerContent ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.guildManagerContent ul li:first-child {
  background-color: var(--color-darkest);
}

.memberContainer {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 0.5fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: "memberName memberRole memberActions";
}

.memberName {
  grid-area: memberName;
}
.memberRole {
  grid-area: memberRole;
}
.memberActions {
  grid-area: memberActions;
}

.guildMemberLi {
  padding-bottom: 5px;
}

.memberKick {
  border-radius: 7px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
  display: inline;
  cursor: pointer;

  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: var(--color-red);
  background-image: url("../public/img/faicons/user-slash-solid.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 18px;
}

/*//////////////////////////////*/
/*/        GUILD PLANNER       /*/
/*//////////////////////////////*/

.guildPlanner {
  font-weight: 500;
  color: var(--color-white);
  line-height: 3em;
  width: 90%;

  margin-top: 70px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

.guildPlannerContent {
  text-align: center;
  border-radius: 7px;
  width: 100%;
  height: max-content;
}

.guildEvent {
  margin-bottom: 50px;
  background-color: var(--color-light);
  border-radius: 7px;
  border-left: 10px solid var(--color-red);
  border-right: transparent;
  box-shadow: 0px 0px 2vh var(--color-accent);
  display: grid;
  align-items: center;
  grid-template-columns: 1.3fr 0.7fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1.8fr 0.2fr;
  grid-template-areas:
    "guildEventName guildEventDesc guildEventDesc guildEventDesc guildEventDesc guildEventDesc"
    "guildEventDate guildEventDate guildEventStatus guildEventStatus guildEventMaxplayers guildEventMaxplayers";
}

.guildEvent:hover {
  background-color: var(--color-lighthover);
  box-shadow: 0px 0px 2vh var(--color-accenthover);
  transition: all 0.4s;
}

.guildEvent:hover {
  cursor: pointer;
}

.guildEventName {
  grid-area: guildEventName;
  font-size: larger;
}

.guildEventDesc {
  padding-left: 10%;
  padding-right: 10%;
  text-align: left;
  line-height: 20px;
  grid-area: guildEventDesc;
  font-size: small;
}

.guildEventMaxplayers {
  height: 100%;
  grid-area: guildEventMaxplayers;
  font-size: small;
  background-color: var(--color-darkest);
  /* border-top-right-radius: 7px; */
  border-bottom-right-radius: 7px;
}

.guildEventDate {
  height: 100%;
  grid-area: guildEventDate;
  font-size: small;
  background-color: var(--color-darkest);
  border-bottom-left-radius: 0px;
}

.guildEventStatus {
  height: 100%;
  grid-area: guildEventStatus;
  font-size: small;
  background-color: var(--color-darkest);
}

.guildEventCharacters {
  padding-bottom: 10px;
  padding-right: 7px;
  padding-left: 7px;
  overflow-x: auto;
  gap: 5px;
  list-style: none;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-around;
}

.guildEventCharacter {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 20px;
  background-color: var(--color-dark);
  padding-left: 0px;
  padding-right: 0px;
  font-size: small;
  line-height: 28px;
  cursor: pointer;
}

.guildEventKickUser {
  border-radius: 40px;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  display: block;
  padding-top: 15px;
  padding-bottom: 14px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: var(--color-red);
  background-image: url(../public/img/faicons/user-slash-solid.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 17px;
}

.guildEventKickUser:hover {
  background-color: var(--color-redhover);
  cursor: pointer;
  transition: all 0.4s;
}

.guildEventCharacterDetails {
  height: 28px !important;
  padding-right: 10px;
  padding-left: 10px;
  display: none;
}

.guildEventCharacterName {
  padding-right: 10px;
  padding-left: 10px;
}

/* ADD BUTTON (FLOATING ACTION BUTTON) */
.addbtn {
  position: fixed;
  bottom: 45px;
  right: 24px;
  height: 70px;
}

.addbtn .tooltiptext {
  right: 130%;
  left: -110px;
}

.addbtn .tooltip .tooltiptext::after {
  display: none;
}

.addbtn img {
  width: max-content;
  height: auto;
}

.addbtn-fab {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  background-color: var(--color-darkorange);
  vertical-align: middle;
  text-decoration: none;
  text-align: center;
  transition: 0.2s ease-out;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12),
    0 3px 1px -2px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  color: var(--color-white);
}

.addbtn-fab:hover {
  background-color: var(--color-orange);
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12),
    0 3px 1px -1px rgba(0, 0, 0, 0.2);
}

.addbtn-btn-large {
  width: 60px;
  height: 60px;
  line-height: 60px;
}

.addbtn-menu {
  position: absolute;
  right: 70px;
  left: -50%;
  top: -230px;
  transform: rotate(0deg);
  height: 100%;
  /* width: 500px; */
  list-style: none;
  text-align: right;
}

.addbtn-menu li {
  display: inline-block;
  margin-right: 10px;
}

/* Item */
.addbtn-btn-raid {
  background-color: var(--color-darkorange);
  background-image: url("../public/img/lostark/activity/svg/Raid.svg");
  background-repeat: no-repeat;
  background-size: 75% auto;
  background-position: center;
}

.addbtn-btn-raid:hover {
  background-color: var(--color-orange);
}

/* Item */
.addbtn-btn-abyss {
  background-color: var(--color-darkorange);
  background-image: url("../public/img/lostark/activity/svg/Abyssweekly.svg");
  background-repeat: no-repeat;
  background-size: 75% auto;
  background-position: center;
}

.addbtn-btn-abyss:hover {
  background-color: var(--color-orange);
}

/* Item */
.addbtn-btn-pvp {
  background-color: var(--color-darkorange);
  background-image: url("../public/img/lostark/activity/svg/Weekly.svg");
  background-repeat: no-repeat;
  background-size: 75% auto;
  background-position: center;
}

.addbtn-btn-pvp:hover {
  background-color: var(--color-orange);
}

/* Item */
.addbtn-btn-others {
  background-color: var(--color-darkorange);
  background-image: url("../public/img/lostark/activity/svg/Chaosgate.svg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
}

.addbtn-btn-others:hover {
  background-color: var(--color-orange);
}

/* Transitions */
.scale-transition {
  transition: transform 0.3s cubic-bezier(0.53, 0.01, 0.36, 1.63) !important;
}

.scale-transition.scale-out {
  transform: scale(0);
  transition: transform 0.2s !important;
}

.scale-transition.scale-in {
  transform: scale(1);
}

/* Event modals */

.guildEventModal {
  display: none;
  /* height: 100vh; */
  width: 100%;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--color-stdarkest);
  transition: all 0.4s;
}

.eventModalActive {
  z-index: 1;
  visibility: visible !important;
  opacity: 1 !important;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh !important;
}

.ModalContentWrapper {
  max-height: 70vh;
  overflow-y: auto;
}

.ModalContentWrapper::-webkit-scrollbar {
  width: 10px;
}

.ModalContentWrapper::-webkit-scrollbar-track {
  background-color: transparent;
}

.guildEventModalContent {
  box-shadow: 0px 0px 10px var(--color-accent);
  width: calc(100% - 200px);
  z-index: 2;
  background-color: var(--color-light);
  border-radius: 7px;
  height: max-content + 100px;
  top: 10% !important;
  width: 70% !important;
  left: auto !important;
  right: auto !important;
  position: fixed;
  padding-bottom: 50px;
}

.guildEventModalContent-Title {
  transition: all 0.4s;
  word-break: break-word;
  display: inline-block;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  background-color: var(--color-darkest);
  font-size: 1.3rem;
  font-weight: bold;
  width: 100%;
  border-bottom: 2px solid var(--color-red);
}

.guildEventModalContent-Description .descmodal {
  text-align: justify;
  padding-left: 5%;
  padding-right: 5%;
  line-height: 24px;
  font-size: 1rem;
}

.guildEventModalContent-Button {
  margin-top: 35px;
  border-radius: 35px;
  padding: 5px !important;
  background-color: var(--color-orange);
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  transition: all 0.3s;
}

.guildEventModalContent-Button:hover {
  background-color: var(--color-darkorange);
  cursor: pointer;
}

.guildEventModalClose {
  color: var(--color-red);
  top: 0px;
  position: absolute;
  border-radius: 50px;
  right: 0px;
  padding-left: 10px;
  padding-right: 10px;
  height: fit-content;
  padding-top: 0px;
  padding-bottom: 0px;
  cursor: pointer;
  transition: all 0.4s;
}

.guildEventModalClose:hover {
  color: var(--color-redhover);
}

/*Character Picker*/
.characterPickerModal {
  display: none;
  width: 100%;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--color-stdarkest);
  transition: all 0.4s;
}

/**/
.ModalContentWrapper {
  max-height: 70vh;
  overflow-y: auto;
}

.ModalContentWrapper::-webkit-scrollbar {
  width: 10px;
}

.ModalContentWrapper::-webkit-scrollbar-track {
  background-color: transparent;
}

.characterPickerModalContent {
  box-shadow: 0px 0px 10px var(--color-accent);
  width: calc(100% - 200px);
  z-index: 4;
  background-color: var(--color-light);
  border-radius: 7px;
  height: max-content + 100px;
  top: 10% !important;
  width: 70% !important;
  left: auto !important;
  right: auto !important;
  position: fixed;
  padding-bottom: 50px;
}
/**/

.characterPickerModalActive {
  z-index: 3;
  visibility: visible;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh !important;
}

.characterPickerModalClose {
  color: var(--color-red);
  top: 0px;
  position: absolute;
  border-radius: 50px;
  right: 0px;
  padding-left: 10px;
  padding-right: 10px;
  height: fit-content;
  padding-top: 0px;
  padding-bottom: 0px;
  cursor: pointer;
  transition: all 0.4s;
}

.characterPickerModalClose:hover {
  color: var(--color-redhover);
}

.characterPickerList {
  margin-top: 50px;
  padding-bottom: 10px;
  padding-top: 7px;
  padding-right: 7px;
  padding-left: 7px;
  overflow-x: auto;
  gap: 30px;
  list-style: none;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: center;
  flex-direction: row;
}

.characterPicker-Char {
  height: 100px;
  width: 50px;
  gap: 10px;
  justify-content: center;
  font-weight: 700;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  background-color: var(--color-dark);
  padding-left: 50px;
  padding-right: 50px;
  font-size: small;
  line-height: 28px;
  cursor: pointer;
}

.characterPicker-Char:hover {
  background-color: var(--color-darkorange);
  transition: all 0.4s;
  background-color: var(--color-darkorange);
  box-shadow: 0px 0px 5px var(--color-white);
}

.characterPicker-Char:hover img {
  filter: brightness(0);
}

.characterPicker-Char img {
  width: 50px;
  height: auto;
}

.guildEventModalContent-Button_Disabled {
  pointer-events: none;
  background-color: var(--color-darkorange);
  filter: grayscale(60%);
  display: none !important;
}

.guildEventModalContent-ButtonLeave {
  display: none;
  margin-top: 35px;
  border-radius: 35px;
  padding: 5px !important;
  background-color: var(--color-red);
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  transition: all 0.3s;
}

.guildEventModalContent-ButtonLeave:hover {
  background-color: var(--color-redhover);
  cursor: pointer;
}

.guildEventModalContent-ButtonLeave_Active {
  display: block;
}

.guildEventCharacterOwn {
  background-color: var(--color-green);
}

.eventModalDelete {
  color: var(--color-red);
  top: 0px;
  position: absolute;
  border-radius: 50px;
  left: 0px;
  padding-left: 10px;
  padding-right: 10px;
  height: fit-content;
  padding-top: 0px;
  padding-bottom: 0px;
  cursor: pointer;
  transition: all 0.4s;
}

.eventModalDelete:hover {
  color: var(--color-redhover);
}

/* Modal New Event */
.newEventModal {
  display: none;
  width: 100%;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--color-stdarkest);
  transition: all 0.4s;
}

.newEventModalContent {
  box-shadow: 0px 0px 10px var(--color-accent);
  width: calc(100% - 200px);
  z-index: 4;
  background-color: var(--color-light);
  border-radius: 7px;
  height: max-content + 100px;
  top: 10% !important;
  width: 70% !important;
  left: auto !important;
  right: auto !important;
  position: fixed;
  padding-bottom: 50px;
}

.newEventModalContent-Title {
  transition: all 0.4s;
  word-break: break-word;
  display: inline-block;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  background-color: var(--color-darkest);
  font-size: 1.3rem;
  font-weight: bold;
  width: 100%;
  border-bottom: 2px solid var(--color-red);
}

.newEventModalClose {
  color: var(--color-red);
  top: 0px;
  position: absolute;
  border-radius: 50px;
  right: 0px;
  padding-left: 10px;
  padding-right: 10px;
  height: fit-content;
  padding-top: 0px;
  padding-bottom: 0px;
  cursor: pointer;
  transition: all 0.4s;
}

.newEventModal label {
  display: block;
  width: 100%;
}

.newEventModal input[type="color"] {
  height: 40px;
  text-align: center;
  border: 2px solid transparent;
  color: var(--color-white);
  font-weight: 500;
  font-size: 18px;
  border-radius: 7px;
  line-height: 22px;
  background-color: var(--color-darkest);
  transition: all 0.3s;
  padding: 0px;
  margin-bottom: 15px;
  box-sizing: border-box;
  outline: 0;
  max-width: 100px;
}

.newEventModal input[type="color"]:hover {
  cursor: pointer;
}

.newEventModal input[type="text"] {
  text-align: center;
  border: 2px solid transparent;
  color: var(--color-white);
  font-weight: 500;
  font-size: 18px;
  border-radius: 7px;
  line-height: 22px;
  background-color: var(--color-darkest);
  transition: all 0.3s;
  padding: 12px;
  margin-bottom: 15px;
  box-sizing: border-box;
  outline: 0;
  max-width: 90%;
  min-width: 50%;
}

.newEventModal textarea {
  text-align: center;
  border: 2px solid transparent;
  color: var(--color-white);
  font-weight: 500;
  font-size: 18px;
  border-radius: 7px;
  line-height: 22px;
  background-color: var(--color-darkest);
  transition: all 0.3s;
  padding: 12px;
  margin-bottom: 15px;
  box-sizing: border-box;
  outline: 0;
  max-width: 90%;
  min-width: 50%;
  max-height: 130px;
  min-height: 50px;
}

.newEventModal input[type="number"] {
  text-align: center;
  border: 2px solid transparent;
  color: var(--color-white);
  font-weight: 500;
  font-size: 18px;
  border-radius: 7px;
  line-height: 22px;
  background-color: var(--color-darkest);
  transition: all 0.3s;
  padding: 12px;
  margin-bottom: 15px;
  box-sizing: border-box;
  outline: 0;
  max-width: 100px;
  /*   min-width: 40%; */
}

.newEventModal input[type="datetime-local"] {
  display: inline-block;
  text-align: center;
  border: 2px solid transparent;
  color: var(--color-white);
  font-weight: 500;
  font-size: 18px;
  border-radius: 7px;
  line-height: 22px;
  background-color: var(--color-darkest);
  transition: all 0.3s;
  padding: 12px;
  margin-bottom: 15px;
  box-sizing: border-box;
  outline: 0;
  max-width: 90%;
  min-width: 30%;
}

.newEventModal input[type="datetime-local"]::-webkit-calendar-picker-indicator {
  filter: invert(96%) sepia(2%) saturate(820%) hue-rotate(198deg)
    brightness(99%) contrast(98%);
  cursor: pointer;
}

.newEventModal input[type="datetime-local"]:hover {
  cursor: pointer;
}

.newEventModal select {
  display: inline-block;
  text-align: center;
  border: 2px solid transparent;
  color: var(--color-white);
  font-weight: 500;
  font-size: 18px;
  border-radius: 7px;
  line-height: 22px;
  background-color: var(--color-darkest);
  transition: all 0.3s;
  padding: 12px;
  margin-bottom: 15px;
  box-sizing: border-box;
  outline: 0;
  max-width: 90%;
  min-width: 30%;
}

.newEventModal select:hover {
  cursor: pointer;
}

.newEventGenerateButton {
  margin-top: 35px;
  border-radius: 35px;
  padding: 5px !important;
  background-color: var(--color-orange);
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  transition: all 0.3s;
}

.newEventGenerateButton:hover {
  background-color: var(--color-darkorange);
  cursor: pointer;
}

/*//////////////////////////////*/
/*/            ABOUT           /*/
/*//////////////////////////////*/

.about {
  line-height: 3em;
  box-shadow: 0px -3px var(--color-accent), 0px 3px var(--color-accent);
  text-align: center;
  width: 70%;
  margin-top: calc(20px + 70px);
  margin-left: auto;
  margin-right: auto;
  padding-top: 5px;
  padding-bottom: 20px;
  border-radius: 7px;

  font-weight: 500;
  color: var(--color-white);
  background-color: #2a2f5536;
}

.about a {
  cursor: pointer;
  margin: auto;
  width: 70%;
  padding: 10px;
  text-decoration: none;
  display: block;
  text-align: center;

  margin-bottom: 2%;
  margin-top: 3%;
  border-radius: 12px;
  color: var(--color-white);

  font-weight: 600;
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: #2a2f5585;
}

.about a:hover {
  filter: grayscale(10%);
}

.about ul {
  list-style: none;
  padding-left: 10px;
}

.policy {
  box-shadow: 0px 0px transparent, 0px 0px transparent !important;
  background-color: transparent;
  width: 75%;
  color: var(--color-white);
}

.policysection {
  margin-top: 30px;
  padding: 10px;
  box-shadow: 0px 3px var(--color-accent), 0px -3px var(--color-accent);

  background-color: #2a2f5536;
  text-align: justify;
  border-radius: 7px;
}

.policysection .policystrong {
  color: var(--color-red);
}

.policysection h1,
.policysection h2,
.policysection h3,
.policysection h4,
.policysection h5,
.policysection h6 {
  text-align: center;
  color: var(--color-red);
}

/*//////////////////////////////*/
/*/         ERROR PAGES        /*/
/*//////////////////////////////*/

.errorbody{
  background-color: var(--color-dark);
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.erroranim{
  display: flex;
  text-align: center;
  min-height: 100vh;
  justify-content: flex-start;
  flex-direction: column;
  align-content: space-around;
}

.objecterror{
  margin-left: auto;
  margin-right: auto;
}
.backhome{
  color: var(--color-orange);
  font-weight: 700;
  font-size: 14px;
  flex-direction: column;
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.backhome:hover{
  cursor: pointer;
}






/************************************************/ /************************************************/
/****                                       MEDIA QUERYS                                        ****/
/************************************************/ /************************************************/

/*************************************************************************************************************/
/*    BREAKPOINTS:   || width: 768px ||  width: 1400px || width: 992px || height: 710px || height: 820px ||  */
/*************************************************************************************************************/

/* HIDE USERNAME AND GUILD DISPLAY WHEN SCREEN IS TOO SMALL IN HEIGHT */
@media only screen and (max-height: 910px) {
  #usersidebar {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  /* TOOLTIP LOCATION */

  .tooltip .tooltiptext {
    visibility: hidden;
    width: 100px;
    background-color: var(--color-darkest);
    color: #fff;
    text-align: center;
    border-radius: 7px;
    padding: 2px 0;
    position: absolute;
    z-index: 1;
    top: -135%;
    left: -70%;
  }

  .tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 105%; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: var(--color-darkest) transparent transparent transparent;
  }
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }
}

/************************************************/
/*               SIDEBAR TO NAVBAR              */
/************************************************/

@media only screen and (max-width: 768px), screen and (max-height: 585px) {
  /*Content*/
  .content {
    position: absolute;
    /* height:100%; */
    width: 100%;
    top: 7%;
    left: 0px;
    display: block;
  }

  .contentscrollhide {
    overflow: hidden;
  }

  .contentscrollhide::-webkit-scrollbar {
    display: none;
  }

  /*Sidebar*/
  .sidebar {
    height: 70.19px;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    background-color: var(--color-darkest);
    overflow: hidden;
  }

  .sidebar .logo span {
    padding-left: 12px;
  }

  .sidebar .logo {
    padding-top: 6px;
    padding-bottom: 6px;
    text-align: center;
    color: var(--color-white);

    font-weight: 600;
    font-size: 24px;
    position: absolute;
    top: 0px;
    left: 6%;
  }

  .sidebar .logo img {
    width: 100px;
    rotate: right;
    transform: scale(0.5) rotate(33deg) skew(-50deg, -5deg);
    filter: invert(99%) sepia(36%) saturate(4689%) hue-rotate(178deg)
      brightness(102%) contrast(91%);
    position: absolute;
    left: 0px;
    top: -5px;
    pointer-events: none;
  }

  #logoutbtn {
    width: 15%;
  }

  .navbartop {
    display: block;
    visibility: visible;
    position: fixed;
    top: 0;
    right: 0;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 35px;
    color: var(--color-white);
  }

  .wrapperactive {
    z-index: 4;
    display: block !important;
    visibility: visible !important;
    overflow-y: scroll;
  }

  .wrapperactive::-webkit-scrollbar {
    display: none;
  }

  .navbartop:hover {
    cursor: pointer;
  }

  #hamburger {
    /*icon*/
    padding-top: 115%;
    vertical-align: middle;
  }

  .wrapperlittle {
    display: none;
    visibility: hidden;
    border-top: 3px solid var(--color-accent);
    top: 70px; /*issues*/
    right: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: var(--color-darkest);
  }

  .scrollwrapper {
    margin-bottom: 100px;
  }

  .sidebar a {
    padding: 25px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 10px;
  }

  .sidebar a i {
    padding: auto;
  }

  .sidebar a:hover {
    background-color: var(--color-accent);
    -webkit-transition: background 0.3s; /* For Safari 3.0 to 6.0 */
    transition: background 0.3s; /* For modern browsers */
  }

  .sidebar a:first-child {
    margin-top: 15px;
  }

  .sidebar a:last-child {
    display: none;
    visibility: hidden;
  }

  .sidebar a:last-child:hover {
    background-color: var(--color-darkest);
  }

  .selected {
    background-color: var(--color-accent);
    cursor: default !important;
  }
}

/************************************************/
/*                     HOME                     */
/************************************************/

@media only screen and (max-width: 1400px) {
  .home {
    margin-left: 25px;
    margin-right: 25px;
  }

  .container {
    margin-left: 5%;
    margin-right: 5%;
    padding-bottom: 50px;
    margin-top: 40px;
    display: grid;
    grid-template-columns: 3fr 3fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "featurefull1 featurefull1";
  }
}

@media only screen and (max-width: 992px) {
  .home {
    margin-left: 25px;
    margin-right: 25px;
  }

  .home-header {
    font-size: 3em;
  }

  .container {
    margin-left: 0%;
    margin-right: 0%;
    display: grid;
    grid-template-columns: 3fr 3fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "featurefull1 featurefull1";
  }

  .feature {
    box-shadow: 0px -6px var(--color-accent), 0px 6px var(--color-accent);
  }
  .featureleft1 {
    margin-right: 0px;
    grid-area: featureleft1;
  }

  .featureright1 {
    margin-top: 40px;
    margin-left: 0px;
    grid-area: featureright1;
  }
}

/************************************************/
/*                     ABOUT                    */
/************************************************/

@media only screen and (max-width: 1400px) {
  .about {
    line-height: 2em;
    box-shadow: 0px -3px var(--color-accent), 0px 3px var(--color-accent);
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (max-width: 992px) {
  .about {
    line-height: 2em;
    box-shadow: 0px -3px var(--color-accent), 0px 3px var(--color-accent);
    text-align: center;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}

/************************************************/
/*             DAILY PLANNER                    */
/************************************************/
@media only screen and (max-width: 1087px) {
  .dailyplanner {
    margin: auto;
    width: 100%;
    height: 100%;
    color: red;
    font-size: 0.9em;
  }

  .charactername {
    display: none;
  }

  .charclass {
    min-width: 50px;
    max-width: 60px;
    width: 50px;
    height: 100%;
  }

  .dailyplanner-activitylogo {
    width: 6ch;
    height: auto;
  }

  .dailyplannertable {
    margin: 0px;
  }
  .dailyplannertable img {
    min-width: auto;
    min-height: 50%;
  }

  .dailyplannertable tr {
    width: 10px;
    height: auto;
  }
}

/************************************************/
/*                   SUPPORT                    */
/************************************************/
@media only screen and (max-width: 1400px) {
  .support {
    width: 80%;
  }
}

@media only screen and (max-width: 992px) {
  .support {
    margin-top: 120px;
    padding-top: auto;
    padding-bottom: auto;
    height: 100%;
    width: 90%;
  }

  .supportform form {
    margin: auto;
  }

  .supportformInput {
    width: 95%;
    max-width: 95%;
    min-width: 95%;
  }
}

@media only screen and (max-width: 768px) {
  .support {
    margin-top: 40px;
    margin-bottom: 10px;
    padding-left: 0px;
    padding-right: 0px;
  }

  .supportform form {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .supportcontent span {
    text-align: center;
    min-width: 70%;
    max-width: 80%;
  }
}

/************************************************/
/*                   ACCOUNT                    */
/************************************************/
@media only screen and (max-width: 1400px) {
  .accountLogin {
    width: 55%;
  }

  .accountSignup {
    width: 55%;
  }

  .account {
    grid-template-areas:
      "account-details"
      "account-guild"
      "account-characters";

    gap: 40px;
    width: 50%;

    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
}

@media only screen and (max-width: 992px) {
  .accountLogin {
    width: 70%;
  }

  .accountSignup {
    width: 70%;
  }

  .account {
    grid-template-areas:
      "account-details"
      "account-guild"
      "account-characters";

    gap: 40px;
    width: 70%;

    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
}

@media only screen and (max-width: 768px) {
  .accountLogin {
    width: 90%;
  }

  .accountSignup {
    width: 90%;
  }

  .account {
    grid-template-areas:
      "account-details"
      "account-guild"
      "account-characters";

    gap: 40px;
    width: 90%;

    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
}

/************************************************/
/*                 GUILD MANAGER                */
/************************************************/

@media only screen and (max-width: 1400px) {
  .guildManager {
    width: 55%;
  }
}

@media only screen and (max-width: 992px) {
  .guildManager {
    width: 70%;
  }
  .guildManagerSearch {
    width: 80%;
  }
}

@media only screen and (max-width: 768px) {
  .guildManager {
    width: 90%;
  }
  .guildManagerSearch {
    width: 90%;
  }
}

/************************************************/
/*                 GUILD PLANNER                */
/************************************************/

@media only screen and (max-width: 768px) {
  .guildEvent {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: grid;
    border-left: 0px;
    border-top: 5px solid var(--color-red);
    align-items: center;
    grid-template-columns: 1.7fr 0.1fr 0.9fr 0.3fr 0.5fr 1fr;
    grid-template-rows: 1fr 1.2fr auto;
    grid-template-areas:
      "guildEventName guildEventName guildEventName guildEventName guildEventName guildEventName"
      "guildEventDesc guildEventDesc guildEventDesc guildEventDesc guildEventDesc guildEventDesc"
      "guildEventDate guildEventDate guildEventStatus guildEventStatus guildEventMaxplayers guildEventMaxplayers";
  }

  .guildEventJoin {
    margin-top: 25px;
  }

  .guildEventMaxplayers {
    border-bottom-right-radius: 7px;
  }

  .guildEventModalContent-Description .descmodal {
    font-size: 0.8rem;
    text-align: left;
  }

  .guildEventDesc {
    text-align: justify;
    line-height: 20px;
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 5%;
  }

  .guildEventDetails {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }

  .guildEventDate {
    border-bottom-left-radius: 7px !important;
  }

  .guildEventModalContent {
    width: 95% !important;
  }

  .addbtn-fab .tooltiptext {
    top: -5px;
    left: -120px;
  }

  .guildEventModalContent-Title {
    padding-top: 35px;
    transition: all 0.4s;
  }

  .newEventModalContent-Title {
    padding-top: 35px;
    transition: all 0.4s;
  }

  .newEventModalContent {
    width: 95% !important;
  }

  .newEventModal textarea {
    min-height: 100px;
    min-width: 85%;
  }
}
